body {
    background: linear-gradient(to right, #141e30, #243b55);
    font-family: Arial;
}

.container {
    width: 400px;
    margin: 80px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #243b55;
    color: white;
    border: none;
    cursor: pointer;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}
